section {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
h1 {  
    margin: 0;
    padding-bottom: 10px;
    font-family: 'Gamja Flower';
    font-size: 70px;
}
body {
    margin: 0;

}
a {
    color: rgb(131, 145, 79); 
    text-decoration: none;
    font-family: 'Gamja Flower';
    font-size: 20px;
}
ul{
    margin: 0;
    padding-top: 20px;
    padding-bottom: 40px;

}
li{
    padding: 5px;
}
p{
    margin: 0;
    font-family: 'Gamja Flower';
    font-size: 20px;
}
strong{
    font-family: 'Nanum Brush Script';
    font-size: 40px;
}
.title {
    color: rgb(133, 158, 74);
}
.no_dot{
    list-style-type: none;
}
.hero {
    background-image: url(images2.html);
    text-align: center;
    padding-top: 10vh;
    color: white; 
}